@charset "utf-8";

/*Quy*/
body {
    color: #73523f;
    margin: 0;
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
}
h1 {
    font-size: 12px;
    text-align: left;
    color:#66402b;
}
p {
    line-height: 1.6;
    font-size: 12px;
    margin: 0px 0px 0px 0px;
}
a {
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
}
span {
    font-size: 12px;
}
#globalNavi ul {
    list-style: none;
}
.text_align_left {
    text-align: left;
}
.text_align_center {
    text-align: center;
}
.text_align_justify {
    text-align: justify;
}
.text_align_right {
    text-align: right;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.overflow_auto {
    overflow: auto;
}
.font_weight {
    font-weight: bold;
}
.font_red {
    color: red;
}
.inline_block {
    display: inline-block;
}
.width_100 {
    width: 100%;
}
.margin_auto {
    margin: auto;
}
.hover_opacity:hover {
    opacity: 0.6;
    filter:alpha(opacity=60);
}
#header {
    border-top: 4px solid #f0831e;
}
.img1_2_intro {
    margin-right: 2px;
}
.inner {
    width: 960px;
    margin: auto;
    display: block;
}
#header_info span {
    color: #f0831e;
}
.slide {
    width: 100%;
    min-width: 960px;
    max-width: 960px;
    height: 380px;
}
#banner {
    background-image: url(../images/bg_banner.jpg);
    background-repeat: repeat-x;
    overflow: auto;
    height: 380px;
    width: 100%;
    min-width: 960px;
    max-width: 960px;
    margin: auto auto 60px auto;
}
.bx-wrapper {
    margin: 0 !important;
}
#bxslider {
    padding: 0;
    margin: 0;
}
#content {
    width: 702px;
}
.title {
    margin: 0 0 -10px 10px;
}
#content1_index {
    width: 417px;
    padding-left: 20px;
}
#content1_index p ul{
    list-style: disc;
}
.img345_index {
    width: 216px;
    margin: 0 12px 40px 0;
    border: 1px solid #d9d9d9;
}
#img_button_2 {
    float: right;
}
#content dl dt {
    background: url(../images/bullet_1.jpg) no-repeat left 10px top 8px;
    padding-left: 23px;
}
#content dl dd {
    background: url(../images/bg_index_dl.jpg) repeat-x left bottom;
    margin-left: 0;
    padding: 0px 0 10px 148px;
}
#aside {
    width: 230px;
}
#bg_border {
    border: double #e9dfd9;
    margin: 13px 0 23px 0;
    width: 224px;
}
#bg_border img {
    margin: 12px 0px 0px 8px;
}
#bg_border dl {
    margin: 0px 0px 9px 0px;
}
#bg_border dl dt {
    background: url(../images/aside_bullet_1.jpg) no-repeat left 15px top 6px;
    padding-left: 32px;
}
#bg_border dl dd {
    background: url(../images/aside_bullet_2.jpg) no-repeat left top 10px;
    padding-left: 10px;
}
#bg_border dl dt a,
#bg_border dl dd a {
    text-decoration: none;
}
#bg_border dl dt a:hover,
#bg_border dl dd a:hover {
    text-decoration: underline;
}
#bg_border_2 {
    border: 4px solid #e9dfd9;
    padding: 15px 15px 10px 15px;
    width: 192px;
}
#bg_border_2 iframe {
    width: 100%;
    height: 100%;
    border: none;
}
#bg_border_2 p {
    margin: 3px 0 10px 0;
}
#footer {
    background: url(../images/footer_bg.jpg) repeat;
    margin-top: 50px;
}
#content_footer {
    width: 960px;
}
#content1_footer {
    margin-top: 30px;

}
#content2_footer {
    border: 1px solid #e7d3c1;
    margin: 30px 0 30px 52px;
    max-width: 338px;
}
#content2_footer ul {
    width: 128px;
    float: left;
}
#content2_footer ul li {
    margin-bottom: 6px;
}
#content3_footer {
    background-color: #fff;
    height: auto;
    margin: 30px 0 30px 25px;
    max-width: 210px;
}
#content3_footer dl dt {
    margin: 20px 0 0 21px;
    background: url(../images/footer_bullet_2.png) no-repeat left top 6px;
    padding-left: 18px;
}
#content3_footer dl dd {
    width: 155px;
}
#content2_footer ul li,
#content3_footer dl dd {
    list-style: none;
    background: url(../images/footer_bullet.png) no-repeat left top 10px;
    padding-left: 15px;
}
#content2_footer ul li a,
#content3_footer dl dd a,
#content3_footer dl dt a {
    text-decoration: none;
    color: #525260;
}
#content2_footer ul li a:hover,
#content3_footer dl dd a:hover,
#content3_footer dl dt a:hover {
    text-decoration: underline;
}
#page_top {
    position: fixed;
    z-index: 999;
    width: 90px;
    height: 50px;
    bottom: 20px;
    right: 20px;
}
#page_top a {
    background: #f0831e;
    border-radius: 5px;
    color: #fff;
    display: block;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
}
#page_top a:hover {
    background: #ffb452;
}
#copyright {
    background: #f88e01;
    text-align: center;
    color: #fff;
    width: 100%;
    height: 20px;
    font-size: 11px;
    font-weight: bold;
    padding: 8px 0 3px 0;
}
/*menu*/
div.nav {    
    width:100%;
    height:55px;
    display:inline-block;
    position:relative;
    z-index:999;
    float:left;
    background:url(../images/bg_menu.jpg) repeat-x left top;
    margin:15px 0 0 0;
}
div.menu {
    height: auto;
    margin: 0 auto;
    width: 100%;
    height:55px;
    display:block;
    min-width:973px;
    max-width:973px;
}
div.menu ul {
    margin:1px 0 0 0;
    padding:0;
    background:url(../images/line_menu.jpg) no-repeat right center;
    width:100%;
    display:inline-block;
    height:53px;
}
div.menu ul li {
    float:left;
    width:133px;
    height:53px;
    background:url(../images/line_menu.jpg) no-repeat left center;
    padding:0 3px;
}
div.menu ul li a {
    width:100%;
    height:53px;
    text-align:center;
    display:block;
    position:relative;
}   
div.menu ul li a.menu_1:hover img,
div.menu ul li.menu_1 a.active img,
div.menu ul li a.menu_2:hover img,
div.menu ul li.menu_2 a.active img,
div.menu ul li a.menu_3:hover img,
div.menu ul li.menu_3 a.active img,
div.menu ul li a.menu_4:hover img,
div.menu ul li.menu_4 a.active img,
div.menu ul li a.menu_5:hover img,
div.menu ul li.menu_5 a.active img,
div.menu ul li a.menu_6:hover img,
div.menu ul li.menu_6 a.active img,
div.menu ul li a.menu_7:hover img,
div.menu ul li.menu_7 a.active img{
    display:none;
}

div.menu ul li a.menu_1:hover,
div.menu ul li.menu_1 a.active {
    background:url(../images/menu_1_hover.jpg) no-repeat center center;
}
div.menu ul li a.menu_2:hover,
div.menu ul li.menu_2 a.active {
    background:url(../images/menu_2_hover.jpg) no-repeat center center;
}
div.menu ul li a.menu_3:hover,
div.menu ul li.menu_3 a.active {
    background:url(../images/menu_3_hover.jpg) no-repeat center center;
}
div.menu ul li a.menu_4:hover,
div.menu ul li.menu_4 a.active {
    background:url(../images/menu_4_hover.jpg) no-repeat center center;
}
div.menu ul li a.menu_5:hover,
div.menu ul li.menu_5 a.active {
    background:url(../images/menu_5_hover.jpg) no-repeat center center;
}
div.menu ul li a.menu_6:hover,
div.menu ul li.menu_6 a.active {
    background:url(../images/menu_6_hover.jpg) no-repeat center center;
}
div.menu ul li a.menu_7:hover,
div.menu ul li.menu_7 a.active {
    background:url(../images/menu_7_hover.jpg) no-repeat center center;
}
                            
div.menu ul li.menu_4 ul.subNav,
div.menu ul li.menu_3 ul.subNav {
    display: none;
}
div.menu li.menu_4:hover ul.subNav,
div.menu li.menu_3:hover ul.subNav {
    background: none repeat scroll 0 0 #ffc472;
    display: block;
    height: auto;
    margin-left: -3px;
    position: absolute;
    top: 53px;
    width: 141px;
}

div.menu ul li ul.subNav li.subNav {
    height: auto !important;
    margin: 0 !important;
    padding: 10px 0 9px 0;
    text-align: center;
    width: 100%;
    border:none;
    border-bottom:1px solid #d19c5d;
    background:none;
}
div.menu ul li ul.subNav li.subNav_no_b {
    border-bottom:none;
}
div.menu ul li ul.subNav li.subNav:hover {
    background: url(../images/bg_menu_sub.jpg) no-repeat center center;
}
div.menu ul li ul.subNav li.subNav a.subNav {
    color: #66402b;
    float: none !important;
    font-size: 14px;
    height: auto !important;
    text-align: center;
    z-index:9999 !important;
}   
div.menu ul li ul.subNav li.subNav a.subNav:hover {
    color: #ffffff;
}

#content1_intro {
    font-weight: bold;
    margin-left: 30px;
}
#content1_intro ul {
    list-style: disc;
    margin-left: 64px;
}
#content1_intro span {
    font-size: 18px;
}
#content2_intro p {
    margin-left: 14px;
}
#content3_intro span {
    font-weight: bold;
}
#img_spec_intro img {
    margin: 18px 0px 0px 11px;
}
.content0 {
    width: 90%;
    margin-left: 6%;
}
#img01_facial {
    width: 296px;
    height: 206px;
}
#content0_depilation ul li {
    background: url(../images/h4.png) no-repeat left top 4px;
    padding-left: 20px;
    margin-bottom: 10px;
}
.next_bihda {
    width: 80px;
    height: 73px;
    background: url(../images/bihda/next.png) no-repeat;
    margin-bottom: 8%;
}
#content1_acty {
    width: 50%;
}
#content2_acty {
    margin-top: 5%;
}
#content3_acty {
    width: 60%;
    margin-right: 40%;
}
#content1_hair {
    margin: 0% 5% 5% 5%;
}
.q_qa {
    background-image: url(../images/qa/q.gif);
    background-repeat: no-repeat;
    background-color: #ffd54f;
    width: 88%;
    min-height: 29px;
    padding: 11px 0px 0px 40px;
    margin: 0% 0% 2% 3%;
}
.a_qa {
    background-image: url(../images/qa/a.gif);
    background-repeat: no-repeat;
    margin: 0% 0% 2% 3%;
    min-height: 40px;
    padding: 8px 0px 0px 40px;
}
#map_access {
    max-width: 517px;
}
.content_access {
    width: 320px;
}
/*End_Quy*/